@{
    ViewData["Title"] = "Interogări";
}

<h1>Interogări Disponibile</h1>

<div class="list-group">
    <a asp-action="UpcomingEvents" class="list-group-item list-group-item-action">Evenimente Viitoare</a>
    <a asp-action="TopOrganizations" class="list-group-item list-group-item-action">Top Organizații</a>
    <a asp-action="PlayersAndTeams" class="list-group-item list-group-item-action">Sportivi și Echipele Lor</a>
    <a asp-action="PopularEvents" class="list-group-item list-group-item-action">Evenimente Populare</a>
    <a asp-action="OrganizationRosters" class="list-group-item list-group-item-action">Rostere per Organizație</a>
    <a asp-action="EventsByDiscipline" class="list-group-item list-group-item-action">Evenimente pe Discipline</a>
    <a asp-action="PlayerAgeStats" class="list-group-item list-group-item-action">Statistici Vârstă Jucători</a>
    <a asp-action="TicketStats" class="list-group-item list-group-item-action">Statistici Bilete</a>
    <a asp-action="OrganizationsByOrigin" class="list-group-item list-group-item-action">Organizații după Origine</a>
    <a asp-action="EventFullDetails" class="list-group-item list-group-item-action">Detalii Complete Evenimente</a>
</div>