@model dpcleague_2.Models.Eveniment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Eveniment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Denumire" class="control-label"></label>
                <input asp-for="Denumire" class="form-control" />
                <span asp-validation-for="Denumire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciplina" class="control-label"></label>
                <input asp-for="Disciplina" class="form-control" />
                <span asp-validation-for="Disciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInceput" class="control-label"></label>
                <input asp-for="DataInceput" class="form-control" />
                <span asp-validation-for="DataInceput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locatia" class="control-label"></label>
                <input asp-for="Locatia" class="form-control" />
                <span asp-validation-for="Locatia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
